<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <a href="/" class="btn">Main menu</a>
    <div style="padding-left: 20px;">
        <b>Title:</b>
        <p><%=book.book.title %></p>
        <b>Author:</b>
        <p><%=book.book.author %></p>
        <b>Genre:</b>
        <p><%=book.book.genre %></p>
        <b>Review:</b>
        <p style="text-wrap: wrap;"><%=book.book.text %></p>
    </div>
</body>
</html>